// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site
// -----------------------------------------------------------------------------
.resize-active {
  *,
  *:before,
  *:after {
    transition: none !important;
  }
}

.header {
  background: $gray-e5;
  padding: 10px 0;
  z-index: 99;

  @include media('>=desktop') {
    padding: 20px 0;
    background: $white;
  }

  [class^='icon-'] {
    color: $blue;
    padding-right: 5px;
    vertical-align: middle;

    &:hover {
      color: $orange;
    }
  }
  
  &__header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


.logo {
  padding-right: 65px;
}

.header-drop {
  z-index: 99;
  
  @include media('<desktop') {
    transition: transform 0.3s ease-in-out, visibility 0.3s, opacity 0.3s;
    position: fixed;
    top: 90px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: $white;
    padding: 40px 20px 20px;
    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
  }

  @include media('>=desktop') {
    width: calc(100% - 165px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  @include media('>=laptop') {
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

}

.right-bar {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0 0 15px;
  
  @include media('>=desktop') {
    flex-direction: row;
    margin: 0 -22px;
  }
  
  &__item {
    padding: 0 0 20px;

    @include media('>=desktop') {
      padding: 0 22px;
    }
  }

  &__select {
    font-size: 14px;
    font-weight: 500;
    border: 0;
    color: $black;
    text-decoration: underline;
  }
  
  &__link {
    font-size: 16px;
    
  }
  
  &__item_email {
    padding: 0 0 12px;
    @include media('>=desktop') {
      display: none;
    }
  }
}

.social {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0 -10px;

  @include media('>=tablet') {
    justify-content: center;
  }

  @include media('>=desktop') {
    display: none;
  }

  &__social-icon {
    padding: 0 10px;
  }

  &__link {
    font-size: 18px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0 0 15px;

  @include media('>=desktop') {
    flex-direction: row;
    margin: 0 -22px;
  }

  &__item {
    padding: 0 0 12px;
    position: relative;

    @include media('>=desktop') {
      padding: 0 22px;
    }
  }
  
  &__item:hover .menu__drop {
    @include animate(opacity visibility transform);
    color: $orange;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
  
  &__drop {
    @include media('>=desktop') {
      background-color: $white;
      position: absolute;
      min-width: 150px;
      min-height: 220px;
      overflow: auto;
      transform: translateY(0);
      top: 30px;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 3;
      opacity: 0;
      visibility: hidden;
    }
  }
  
  .second-level {
    list-style: none;
  }

  &__link {
    @include media('<desktop') {
      @include animate(background margin);
      display: inline-block;
      position: relative;
      width: 130px;
      height: 10px;
      z-index: 99;

      &:after,
      &:before {
        content: '';
        position: absolute;
        height: 2px;
        left: 120px;
        right: 0;
        background: $blue-00;
      }
      
      &:after {
        transition: transform 0.1s ease-in-out, top 0.1s ease-in-out 0.1s;
        transform: rotateZ(90deg) scale(1.05);
        top: 10px;
      }

      &:before {
        top: 10px;
      }
    }
  }
}

.nav-opener {
  display: none;
  
  @include media('<desktop') {
    @include animate(background margin);
    display: inline-block;
    position: relative;
    width: 27px;
    height: 27px;
    text-indent: -9999px;
    z-index: 99;

    &:after,
    &:before,
    span {
      transition: background 0.3s ease-in-out, transform 0.3s ease-in-out, top 0.25s ease-in-out 0.3s;
      content: '';
      position: absolute;
      height: 3px;
      left: 0;
      right: 0;
      background: $blue-00;
    }

    &:after {
      top: 0;
    }

    span {
      @include animate(opacity background);
      top: 12px;
      width: 20px;
      left: 7px;
    }

    &:before {
      top: 23px;
    }
  }
}

.active {
  .menu {
    &__link {
      @include media('<desktop') {
        &:after {
          top: 10px;
          transition: top 0.1s, transform 0.1s ease 0.1s;
          transform: rotateZ(0deg) scale(1.05);
        }
      }
    }
  }
}

.nav-active {
  @include media('<desktop') {
    .header-drop {
      transform: translateX(0);
      visibility: visible;
      opacity: 1;
      top: 90px;
      overflow: auto;
      height: calc(100vh - 90px);
    }

    .header-drop-inner {
      margin: 0 auto 115px;
    }

    .nav-menu {
      flex-direction: column;

      li {
        margin-bottom: 50px;
      }
    }

    .nav-opener {
      span {
        opacity: 0;
      }

      &:before,
      &:after {
        top: 12px;
        transition: background 0.3s ease-in-out, top 0.25s, transform 0.3s ease 0.3s;
      }
      
      &:before {
        transition: background 0.3s ease-in-out, top 0.25s, transform 0.3s ease 0.3s, width 0.3s ease 0.3s;
        transform: rotateZ(45deg) scale(1.05);
      }
      
      &:after {
        transform: rotateZ(-45deg) scale(1.05);
      }
    }
  }
}
