.intro-section {
  padding: 0 0 100px;
  
  .container {
    max-width: 1595px;
    padding: 0;

    @include media('>=tablet') {
      padding: 0 20px;
    }
  }

  &__intro-inner {
    display: flex;
    flex-direction: column-reverse;

    @include media('>=tablet') {
      flex-direction: row;
    }
  }
}

.intro-heading {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding: 50px 20px;

  @include media('>=tablet') {
    width: 54.8%;
    padding: 0 20px;
  }
  
  @include media('>=laptop') {
    padding: 0 20px 0 190px;    
  }

  &__section-heading {
    max-width: 642px;
    color: $white;
    font-size: 20px;
    letter-spacing: 0.2px;
    padding: 0 0 47px;
    z-index: 3;
  }
  
  &__intro-background {
    background: $blue-00;
    position: absolute;
    top: 0;
    left: -99%;
    right: 0;
    bottom: 0;
    z-index: -3;
    
    @include media('<desktop') {
      background-image: none !important;
    }
  }
  
  &__bg-img {
    display: none;
    
    @include media('>=desktop') {
      display: block;
      position: absolute;
      top: 20px;
      right: 0;
      bottom: 0;
    }
  }

  &__img-triangle {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(30%, -175%);

    @include media('>=desktop') {
      transform: translateY(-70%);
    }
    
    @include media('>=widescreen') {
      transform: translate(-298%, -70%);
    }
  }

  &__img-cross-bg {
    display: none;
    
    @include media('>=laptop') {
      display: block;
      position: absolute;
      top: 0;
      left: 16px;
      transform: translateY(55%);
    }
  }

  &__img-circle {
    display: none;

    @include media('>=desktop') {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(30%, -250%);
    }

    @include media('>=desktop') {
      top: 35px;
      transform: translateX(38%);
      z-index: 1;
    }
  }

  &__img-broken {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(2%, 10%);
    
    @include media('>=desktop') {
      transform: translate(17%, 10%);
    }

    @include media('>=widescreen') {
      transform: translate(-7%, 10%);
    }
  }
}



.intro-img {
  width: 100%;

  @include media('>=tablet') {
    width: 45.2%;
  }

  &__holder {
    position: relative;
  }

  &__img-inner {
    padding-top: 478px;
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;

    @include media('>=tablet') {
      width: calc(100% + 20px);
      float: left;
    }

    @include media('>=widescreen-xl') {
      width: calc(100% + (100vw - 1520px) / 2);
    }
  }

  &__cross {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(40%, 20%);

    @include media('>=desktop') {
      top: 0;
      left: 80%;
      transform: translate(20%, 10%);
    }

    @include media('>=widescreen') {
      top: 112px;
      left: 327px;
      transform: translateX(100%);
    }
  }

  &__img-bottom {
    display: none;
    
    @include media('>=widescreen') {
      display: block;
      position: absolute;
      top: 0;
      right: 10px;
      transform: translateY(96%);
    }

    @include media('>=widescreen-xl') {
      right: 75px;
    }
  }

  &__img-slash {
    position: absolute;
    top: 122px;
    left: 0;
    transform: translateX(166%);

    @include media('>=widescreen-xl') {
      top: 127px;
    }
  }

  &__img-line {
    position: absolute;
    top: 225px;
    left: 0;
    transform: translateX(-71%);
  }
}
