<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="body">
  <noscript>
    <div>Javascript must be enabled for the correct page display</div>
  </noscript>
  <a class="accessibility" href="#main">Skip to Content</a>
  <div class="wrapper" id="wrapper">
    <div class="wrapper-inner">
      <header class="header" id="header">
        <div class="container">
          <div class="header__header-inner">
            <strong class="logo"><a href="#"><img src="images/logo.png" alt="image description" /></a></strong>
            <div class="header-drop">
              <div class="header-drop__drop-inner">
                <nav>
                  <ul class="menu">
                    <li class="menu__item">
                      <a href="#" class="menu__link"><span class="icon-pause"></span>Все курсы</a>
                      <a class="link-opener" href="#"><span></span></a>
                      <div class="menu__drop">
                        <ul class="second-level">
                          <li class="second-level__item"><a class="second-level__link" href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="menu__item">
                      <a href="" class="menu__link">Мероприятия</a>
                      <div class="menu__drop">
                        <ul class="second-level">
                          <li class="second-level__item"><a class="second-level__link" href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="menu__item">
                      <a href="" class="menu__link">Базы знаний</a>
                      <div class="menu__drop">
                        <ul class="second-level">
                          <li class="second-level__item"><a class="second-level__link" href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="menu__item">
                      <a href="" class="menu__link">Карьера</a>
                      <div class="menu__drop">
                        <ul class="second-level">
                          <li class="second-level__item"><a class="second-level__link" href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </nav>
              </div>
              <ul class="right-bar">
                <li class="right-bar__item">
                  <span class="icon-point2"></span>
                  <select name="city" class="right-bar__select">
                    <option value="1">Ивано-Франковск</option>
                    <option value="2">Харьков</option>
                    <option value="3">Харьков</option>
                    <option value="4">Харьков</option>
                    <option value="5">Харьков</option>
                    <option value="6">Харьков</option>
                    <option value="7">Харьков</option>
                    <option value="8">Харьков</option>
                    <option value="9">Харьков</option>
                    <option value="10">Киев</option>
                    <option value="11">Киев</option>
                    <option value="12">Киев</option>
                    <option value="13">Киев</option>
                    <option value="14">Киев</option>
                    <option value="15">Киев</option>
                    <option value="16">Киев</option>
                    <option value="17">Киев</option>
                    <option value="18">Львов</option>
                    <option value="19">Львов</option>
                    <option value="20">Львов</option>
                    <option value="21">Львов</option>
                    <option value="22">Львов</option>
                    <option value="23">Львов</option>
                    <option value="24">Львов</option>
                    <option value="25">Львов</option>
                  </select>
                </li>
                <li class="right-bar__item"><a class="right-bar__link" href="tel:08009503398">0 800 950-33-98</a></li>
                <li class="right-bar__item"><a href="#"><span class="icon-man"></span>Войти</a></li>
                <li class="right-bar__item_email"><a class="right-bar__link" href="mailto:info@hodfutureacademy.ua">info@hodfutureacademy.ua</a></li>
              </ul>
              <ul class="social">
                <li class="social__social-icon">
                  <a href="#" class="social__link"><span class="icon-instagram"></span></a>
                </li>
                <li class="social__social-icon">
                  <a href="#" class="social__link"><span class="icon-facebook"></span></a>
                </li>
                <li class="social__social-icon">
                  <a href="#" class="social__link"><span class="icon-youtube"></span></a>
                </li>
                <li class="social__social-icon">
                  <a href="#" class="social__link"><span class="icon-telegram"></span></a>
                </li>
              </ul>
            </div>
            <a class="nav-opener" href="#"><span>Menu</span></a>
          </div>
        </div>
      </header>
      <main class="main">
        <div class="intro-section">
          <div class="container">
            <div class="intro-section__intro-inner">
              <div class="intro-heading">
                <div class="intro-heading__section-heading">
                  <h1>Образовательная платформа ХОД Future Academy</h1>
                  <p>Актуальные знания для новичков и профессионалов</p>
                </div>
                <div class="intro-heading__intro-background" style="background-image: url(images/Vector-point.png);">
                </div>
                <div class="intro-heading__img-triangle">
                  <img src="images/Vector-triangle.png" alt="image description">
                </div>
                <div class="intro-heading__img-cross-bg">
                  <img src="images/Vector-cross-bg.png" alt="image description">
                </div>
                <div class="intro-heading__img-circle">
                  <img src="images/Vector-circle.png" alt="image description">
                </div>
                <div class="intro-heading__img-broken">
                  <img src="images/Vector-broken-line.png" alt="image description">
                </div>
              </div>
              <div class="intro-img">
                <div class="intro-img__holder">
                  <div class="intro-img__img-inner" style="background-image: url(images/intro-img.png);">
                    <span class="intro-img__cross">
                      <img src="images/Vector-cross.png">
                    </span>
                  </div>
                  <div class="intro-img__img-bottom">
                    <img src="images/Vector-bottom.png" alt="image description">
                  </div>
                  <div class="intro-img__img-slash">
                    <img src="images/Vector-slash.png" alt="image description">
                  </div>
                  <div class="intro-img__img-line">
                    <img src="images/Vector-line.png" alt="image description">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="current-section">
          <div class="container">
            <div class="section-heading">
              <h3 class="section-heading__title">Актуальные знания от признанных экспертов рынка
                для новичков и практикующих специалистов.</h3>
            </div>
            <div class="digital-inform">
              <div class="digital-inform__column">
                <div class="digital-inform__holder-first">
                  <span class="digital-inform__digital counter">600</span>
                  <span class="digital-inform__text">Курсов</span>
                </div>
              </div>
              <div class="digital-inform__column">
                <div class="digital-inform__holder-second">
                  <span class="digital-inform__digital counter">82</span>
                  <span class="digital-inform__text">Ведущих преподавателей</span>
                </div>
              </div>
              <div class="digital-inform__column">
                <div class="digital-inform__holder">
                  <span class="digital-inform__digital digital-inform__digital--last counter">14 795</span>
                  <span class="digital-inform__text digital-inform__text--last">Выпускников</span>
                </div>
              </div>
            </div>
            <div class="current-cards">
              <div class="current-cards__current-card">
                <div class="open-day">
                  <div class="open-day__inner">
                    <div class="open-day__wrap">
                      <div class="open-day__date">
                        <span class="open-day__number">25</span>
                        <span class="open-day__month">ноября</span>
                      </div>
                      <span class="open-day__text-title">День открытых дверей</span>
                    </div>
                    <div class="open-day__text">
                      <p>Приглашаем всех желающих на бесплатную экскурсию<br>
                        в мир востребованных профессий и полезных навыков</p>
                    </div>
                  </div>
                  <a href="" class="btn btn--black">Записаться<span class="icon-cheveron-right btn-decor"></span></a>
                </div>
              </div>
              <div class="current-cards__current-card-left">
                <div class="studying-programs">
                  <div class="studying-programs__img">
                    <img src="images/monitor.png" alt="image description">
                  </div>
                  <h3><a class="studying-programs__link" href="#">Программы обучения</a></h3>
                  <div class="studying-programs__text">
                    <p>В списке наших курсов вы сможете найти профессию и занятие по душе, изучить новое и получить практические знания, которые помогут получить работу мечты.</p>
                  </div>
                  <a href="" class="btn btn--blue">Подробнее<span class="icon-cheveron-right btn-decor"></span></a>
                </div>
              </div>
              <div class="current-cards__current-card-right">
                <div class="current-cards__inner-right">
                  <div class="current-cards__inner-card-top">
                    <div class="studying-programs studying-programs--news">
                      <div class="studying-programs__img">
                        <img src="images/newspaper.png" alt="image description">
                      </div>
                      <h3><a class="studying-programs__link" href="#">Новости Академии</a></h3>
                    </div>
                  </div>
                  <div class="current-cards__inner-card-top">
                    <div class="studying-programs studying-programs--world">
                      <div class="studying-programs__img">
                        <img src="images/diagram.png" alt="image description">
                      </div>
                      <h3><a class="studying-programs__link" href="#">Мир IT</a></h3>
                    </div>
                  </div>
                </div>
                <div class="current-cards__inner-card-bottom">
                  <div class="studying-programs studying-programs--test">
                    <div class="studying-programs__img">
                      <img src="images/group1234.png" alt="image description">
                    </div>
                    <div class="studying-programs__title">
                      <a class="studying-programs__link" href="#">Попробуй!</a>
                    </div>
                    <div class="studying-programs__text">
                      <p>Пройдите тест и узнайте свои способности в сфере информационных технологий</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="feedback-section">
          <div class="container">
            <div class="section-headin text-center">
              <h1>Отзывы наших студентов</h1>
            </div>
          </div>
          <div class="feedback-section__cards-holder">
            <div class="feedback-section__cards">
              <div class="feedback-section__card">
                <div class="students-card">
                  <div class="students-card__student-inform">
                    <div class="students-card__img">
                      <img src="images/img1.png" alt="image description">
                    </div>
                    <div class="students-card__inform">
                      <span class="students-card__name">Имя Фамилия</span>
                      <span class="students-card__course">Студент курса «WEB-разработчик»</span>
                    </div>
                  </div>
                  <div class="students-card__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nisl at augue dapibus, id tristique lorem placerat. Curabitur pellentesque est bibendum urna facilisis varius. In hac habitasse platea dictumst. In ut dui sodales, scelerisque eros non, ultrices magna.</p>
                  </div>
                  <span class="icon-star">4,87 / 5</span>
                </div>
              </div>
              <div class="feedback-section__card">
                <div class="students-card">
                  <div class="students-card__student-inform">
                    <div class="students-card__img">
                      <img src="images/img1.png" alt="image description">
                    </div>
                    <div class="students-card__inform">
                      <span class="students-card__name">Имя Фамилия</span>
                      <span class="students-card__course">Студент курса «WEB-разработчик»</span>
                    </div>
                  </div>
                  <div class="students-card__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nisl at augue dapibus, id tristique lorem placerat. Curabitur pellentesque est bibendum urna facilisis varius. In hac habitasse platea dictumst. In ut dui sodales, scelerisque eros non, ultrices magna.</p>
                  </div>
                  <span class="icon-star">4,87 / 5</span>
                </div>
              </div>
              <div class="feedback-section__card">
                <div class="students-card">
                  <div class="students-card__student-inform">
                    <div class="students-card__img">
                      <img src="images/img1.png" alt="image description">
                    </div>
                    <div class="students-card__inform">
                      <span class="students-card__name">Имя Фамилия</span>
                      <span class="students-card__course">Студент курса «WEB-разработчик»</span>
                    </div>
                  </div>
                  <div class="students-card__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nisl at augue dapibus, id tristique lorem placerat. Curabitur pellentesque est bibendum urna facilisis varius. In hac habitasse platea dictumst. In ut dui sodales, scelerisque eros non, ultrices magna.</p>
                  </div>
                  <span class="icon-star">4,87 / 5</span>
                </div>
              </div>
              <div class="feedback-section__card">
                <div class="students-card">
                  <div class="students-card__student-inform">
                    <div class="students-card__img">
                      <img src="images/img1.png" alt="image description">
                    </div>
                    <div class="students-card__inform">
                      <span class="students-card__name">Имя Фамилия</span>
                      <span class="students-card__course">Студент курса «WEB-разработчик»</span>
                    </div>
                  </div>
                  <div class="students-card__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nisl at augue dapibus, id tristique lorem placerat. Curabitur pellentesque est bibendum urna facilisis varius. In hac habitasse platea dictumst. In ut dui sodales, scelerisque eros non, ultrices magna.</p>
                  </div>
                  <span class="icon-star">4,87 / 5</span>
                </div>
              </div>
              <div class="feedback-section__card">
                <div class="students-card">
                  <div class="students-card__student-inform">
                    <div class="students-card__img">
                      <img src="images/img1.png" alt="image description">
                    </div>
                    <div class="students-card__inform">
                      <span class="students-card__name">Имя Фамилия</span>
                      <span class="students-card__course">Студент курса «WEB-разработчик»</span>
                    </div>
                  </div>
                  <div class="students-card__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nisl at augue dapibus, id tristique lorem placerat. Curabitur pellentesque est bibendum urna facilisis varius. In hac habitasse platea dictumst. In ut dui sodales, scelerisque eros non, ultrices magna.</p>
                  </div>
                  <span class="icon-star">4,87 / 5</span>
                </div>
              </div>
              <div class="feedback-section__card">
                <div class="students-card">
                  <div class="students-card__student-inform">
                    <div class="students-card__img">
                      <img src="images/img1.png" alt="image description">
                    </div>
                    <div class="students-card__inform">
                      <span class="students-card__name">Имя Фамилия</span>
                      <span class="students-card__course">Студент курса «WEB-разработчик»</span>
                    </div>
                  </div>
                  <div class="students-card__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nisl at augue dapibus, id tristique lorem placerat. Curabitur pellentesque est bibendum urna facilisis varius. In hac habitasse platea dictumst. In ut dui sodales, scelerisque eros non, ultrices magna.</p>
                  </div>
                  <span class="icon-star">4,87 / 5</span>
                </div>
              </div>
              <div class="feedback-section__card">
                <div class="students-card">
                  <div class="students-card__student-inform">
                    <div class="students-card__img">
                      <img src="images/img1.png" alt="image description">
                    </div>
                    <div class="students-card__inform">
                      <span class="students-card__name">Имя Фамилия</span>
                      <span class="students-card__course">Студент курса «WEB-разработчик»</span>
                    </div>
                  </div>
                  <div class="students-card__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nisl at augue dapibus, id tristique lorem placerat. Curabitur pellentesque est bibendum urna facilisis varius. In hac habitasse platea dictumst. In ut dui sodales, scelerisque eros non, ultrices magna.</p>
                  </div>
                  <span class="icon-star">4,87 / 5</span>
                </div>
              </div>
              <div class="feedback-section__card">
                <div class="students-card">
                  <div class="students-card__student-inform">
                    <div class="students-card__img">
                      <img src="images/img1.png" alt="image description">
                    </div>
                    <div class="students-card__inform">
                      <span class="students-card__name">Имя Фамилия</span>
                      <span class="students-card__course">Студент курса «WEB-разработчик»</span>
                    </div>
                  </div>
                  <div class="students-card__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nisl at augue dapibus, id tristique lorem placerat. Curabitur pellentesque est bibendum urna facilisis varius. In hac habitasse platea dictumst. In ut dui sodales, scelerisque eros non, ultrices magna.</p>
                  </div>
                  <span class="icon-star">4,87 / 5</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="container">
          <div class="section-heading">
            <a href="#" class="btn btn--grad">Робототехника</a>
            <a href="#" class="btn btn--grad">Web-разработка</a>
            <a href="#" class="btn btn--black">Записаться<span class="icon-cheveron-right btn-decor"></span></a>
            <a href="#" class="btn btn--blue">Подробнее<span class="icon-cheveron-right btn-decor"></span></a>
            <a href="#" class="btn btn--fill ">Отправить</a>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <a class="accessibility" href="#wrapper">Back to top</a>
</body>

</html>
