/* stylelint-disable */
%accessibility {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;

  &:focus {
    position: static;
    width: auto;
    height: auto;
  }
}

.accessibility {
  @extend %accessibility;
}

%hidden {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.hidden {
  @extend %hidden;
}

%listreset {
  margin: 0;
  padding: 0;
  list-style: none;
}

%clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.clearfix {
  @extend %clearfix;
}

%transition {
  transition: all 0.3s ease-in-out;
}

%resetButton {
  appearance: none;
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
}

.resetButton {
  @extend %resetButton;
}
