// -----------------------------------------------------------------------------
// This file contains typography styles.
// -----------------------------------------------------------------------------
/* stylelint-disable */
/*
  Set up a decent box model on the root element
*/

html {
  font-size: $rem-base;
}

/*
  Basic typography style for copy text
*/
body {
  color: $body-text-color;
  background-color: $body-background-color;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-base;
  min-width: $base-min-width;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
  Basic styles for links
*/
a {
  @include animate(color);
  font-size: $link-font-size;
  font-weight: $link-font-weight;
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

ul,
ol,
dl,
p {
  margin: 0 0 $paragraph-margin-bottom;
}

#{$headings},
.h {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: 1.22;
  margin: 0 0 12px;
  color: $headings-color;
}

h1,
.h1 {
  font-size: $h1-font-size;
  line-height: 2;
}

h2,
.h2 {
  font-size: $h2-font-size;
}

h3,
.h3 {
  font-size: $h3-font-size;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 18px;
  
  @include media('>=tablet') {
    line-height: 1.5;
  }
}

h4,
.h4 {
  font-size: $h4-font-size;
  line-height: 1.2;

  @include media('>=tablet') {
    font-size: rem-calc(27px);
    line-height: 1.11;
  }
}

h5,
.h5 {
  font-size: $h5-font-size;
  line-height: 1.36;

  @include media('>=tablet') {
    font-size: rem-calc(24px);
    line-height: 1.46;
  }
}

h6,
.h6 {
  font-size: $h6-font-size;
  line-height: 1.3;
}

.display-1 {
  font-size: rem-calc(50px);
  text-transform: uppercase;

  @include media('>=tablet') {
    font-size: rem-calc(80px);
  }

  @include media('>=desktop') {
    font-size: rem-calc(100px);
  }
}

%ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ellipsis {
  @extend %ellipsis;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}
